$bg-color: #fff;
$secondary-bg-color: #f2f5f8;
$primary-color: #6b6b6b;
$secondary-color: #dfdfdf;
$hover-color: #1a8dec;
$valid-color: #3cab4b;
$not-valid-color: #d61613;
$secondary-hover-color: #f2f5f8;
