@import "./../../../styles/variables";

.phone-input {
    height: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $secondary-color;
    border-radius: 0 4px 4px 0;
    padding: 0 12px;
    box-sizing: border-box;

    &--is-focus {
        border-color: $hover-color;
    }

    &__input {
        margin-left: 10px;
        appearance: none;
        background-color: $bg-color;
        border: none;
        caret-color: $primary-color;
        cursor: pointer;
        font-size: 16px;
        height: 100%;
        min-height: 100%;
        outline: none;
        position: relative;
        transition-duration: 0.3s;
        width: 100%;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
        z-index: 0;
        font-family: inherit;
    }
}
